.htaccess
.buildpath
.settings/
.project
.idea/
nbproject/
assets/grocery_crud/themes/bootstrap
application/.htaccess
application/cache/
application/controllers/index.html
application/controllers/examples2.php
application/controllers/build.php
application/controllers/welcome.php
application/views/example2.php
application/errors/
application/language/
application/libraries/index.html
application/logs/
assets/uploads/images/
application/models/index.html
application/views/index.html
application/views/welcome_message.php
application/views/errors/*
license.txt
*~